.about {
  background-color: #ebf1fd;
}
.contact-icon {
    padding: 0px 8px;
  }
  #about {
    margin: 50px auto 150px auto;
  }
  body {
    color: #000000;
  }
  h3 {
    font-family: 'Audrey-Normal', monospace;
    font-size: 40px !important;
    color: #494949;
    font-weight: 200;
  }
  #readme-md {
    font-family: 'Futura';
    font-size: 20px;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    margin: 0 5% 0 5%;
    background-color: #ff0000;
    height: 1px;
  }
  

  @media (max-width: 768px) {
    #readme-md {
      font-family: 'Futura';
      font-size: 16px;
    }
    h3 {
      font-family: 'Audrey-Normal', monospace;
      font-size: 28px !important;
      color: #494949;
      font-weight: 200;
    }
  }