.secondSecDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
  color: white;
}

.linkedin,.git,.ins,.gmail{
  display: inline-block;
  margin: 0 10px;
}

.linkedin-icon, .ins-icon, .git-icon, .gmail-icon{
  color: white;
  font-size: 1.5rem;
}

.linkedin-icon:hover, .ins-icon:hover, .git-icon:hover, .gmail-icon:hover{
  color: #88FFF7;
}

.aboutHeading{
  margin-bottom: 20px;
}



@media (max-width: 768px){
 

  .introductionDiv {
    width: 300px;
  }
}

@media (max-width: 1200px) and (min-width: 769px){
  .introductionDiv{
    width: 400px;
  }
  .introductionDiv{
    margin-right: 40px;
    margin-left: 20px;
  }
  
  .projectDiv{
    margin-left: 40px;
    margin-right: 20px;
  }
}

@media (min-width: 1201px){
  .introductionDiv{
    width: 39%;
  }
  .introductionDiv{
    margin-right: 40px;
  }
  
  .projectDiv{
    margin-left: 40px;
  }
}



