#landing-intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  position: absolute;
}

#Intro, #Welcome{
  color: #817777;
}

#sub-intro{
  color: #EDEDED;
}

#my-name{
  color: white;
}

@media (min-width:1200px){
  #landing-intro{
    top: 20%;
    left: 30%;
  }



  #my-name{
    font-size: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px){
  #landing-intro{
    top: 50px;
    left: 25%;
  }


  #my-name{
    font-size: 3rem;
  }
}

@media (max-width:768px){
  #landing-intro{
    top: 10%;
    left: 20%;
    max-width: 17rem;
  }



  #my-name{
    font-size: 1.5rem;
  }
}

