@media (max-width: 1200px) and (min-width: 769px){
    .p{font-size: 15px;}
    .h2{
        font-size: 20px;
        margin: 0;
        font-weight: 500;
    }
}

@media (max-width: 769px){
    .p{font-size: 12px;}
    .h2{font-size: 15px;
        margin: 0;
        font-weight: 500;
    }
}

@media (min-width: 1200px){
    .p{font-size: 20px}
    .h2{font-size: 25px;
        margin: 0;
        font-weight: 500;
    }
}

